<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # 1. Si la petición ya viene para public, no hagas nada
    RewriteCond %{REQUEST_URI} ^/public/ [NC]
    RewriteRule ^ - [L]

    # 2. Redirige todo lo demás a public/index.php
    RewriteRule ^(.*)$ public/index.php/$1 [L,QSA]
</IfModule>